<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth" version="3.4.7.11121" targetFramework="net45" />
  <package id="HttpClient" version="0.3.0" targetFramework="net45" />
  <package id="Lokad.Cloud.Provisioning" version="2.2.0" targetFramework="net45" />
  <package id="Lokad.Cloud.Storage" version="2.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net45" />
  <package id="Ninject" version="2.2.1.4" targetFramework="net45" />
  <package id="Ninject.MVC3" version="2.2.2.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
  <package id="WebActivator" version="1.4.4" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.1.0.0" targetFramework="net45" />
</packages>