<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.1.841" />
  <package id="HttpClient" version="0.3.0" />
  <package id="Lokad.Cloud.Provisioning" version="1.4.103.0" />
  <package id="Lokad.Cloud.Storage" version="2.3.4" />
  <package id="WindowsAzure.Storage" version="1.6" />
</packages>